* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.main-container {
  background-color: #6f4e37;
  padding-bottom: 20px;
}

.jumbo-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #fff;
  padding: 10% 20px;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
  text-align: center;
}

.apipage-container {
  height: max-content;
}

.jumbo-text {
  font-size: 100px;
}

.jumbo-mini-text {
  font-size: 30px;
}

button {
  color: #fff;
  border: 1px solid white;
  width: 200px;
  height: 70px;
  font-size: 20px;
  background-color: #6f4e37;
  text-decoration: none;
  cursor: pointer;
}

.backButton {
  width: 60px;
  height: 40px;
  border-radius: 10px;
  font-size: small;
  margin: 10px 0 0 10px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 100vh;
}

.page-flex {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 10px;
  gap: 2px;
}

.btn {
  height: 50px;
  width: 50px;
  background-color: #664732;
  color: #fcfcfc;
  cursor: pointer;
  border: none;
  font-size: 15px;
}

.active {
  background-color: #805f4a;
  height: 50px;
  width: 50px;
  color: white;
  cursor: pointer;
  border: none;
  font-size: 15px;
}

button:disabled,
button[disabled] {
  border: none;
  background-color: #cccccc;
  color: #666666;
  cursor: default;
}

/* Responsiveness */

@media only screen and (max-width: 600px) {
  .jumbo-container {
    text-align: center;
    padding-top: 0px;
  }

  .jumbo-text {
    font-size: 45px;
  }

  .jumbo-mini-text {
    font-size: 24px;
  }

  .home-button {
    width: 170px;
    height: 60px;
    font-size: 20px;
  }

  .page-flex {
    flex-wrap: wrap;
    padding: 20px;
  }
}
