*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.main-container{
  background-color: #6F4E37;
  padding-bottom: 20px;
}

.jumbo-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #fff;
  padding: 10% 20px;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
 
}

.apipage-container{
  height: max-content;
}

.jumbo-text{
  font-size: 100px;
}

.jumbo-mini-text{
  font-size: 30px;
}

button{
  color: #fff;
  border: 1px solid white;
  width: 200px;
  height: 70px;
  font-size: 20px;
  background-color: #6F4E37;
  text-decoration: none;
  cursor: pointer;
}

.backButton{
  width: 60px;
  height: 40px;
  border-radius: 10px;
  font-size: small;
  margin: 10px 0 0 10px;
}

.card-container{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.loader{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 100vh;
}

.page-flex{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 10px;

}

.btn{
  height: 60px;
  width: 60px;
  background-color: #df884a;
  color: #fff;
  cursor: pointer;
  
}

.active{
  background-color: aquamarine;
  height: 60px;
  width: 60px;
  color: white;
  cursor: pointer;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: default;
}